.searchform {
    display: flex;
    width: 1140px;
    margin: 70px auto;
    height: 72px;
    background-color: #2F2F2F;
    border-radius: 9px;
    justify-content: space-between;

}

.searchform__form {
    flex-grow: 1;
    margin-left: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchform__input:focus {
    background: linear-gradient(270deg, rgb(92, 92, 92) 1%, rgb(47, 47, 47));
}

.searchform__check {
    display: flex;
    align-items: center;
    margin: 0 30px 0 0;
    padding-left: 30px;
    border-left: 1px solid #424242;
    height: 40px;
    align-self: center;

}

.searchform__input {
    flex-grow: 1;
    height: 72px;
    background-color: #2F2F2F;
    color: #fff;
    border: none;
    outline: none;
    padding: 0;
    font-size: 18px;
    line-height: 20px;
    border-radius: 10px;
}

.searchform__button {
    background-color: #4285F4;
    border-radius: 48px;
    border: none;
    color: #fff;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    width: 58.65px;
    height: 34px;
    cursor: pointer;
    margin-right: 30px;
}

.searchform__button:hover {
    transition: .3s;
    background-color: #5d98f7;
}

.searchform__text {
    font-size: 13px;
    line-height: 18px;
    margin-left: 14px;
}

.searchform__checkbox-input {
    display: none;
}

.searchform__label:hover {
    box-shadow: 0px -4px 36px -11px rgba(255, 255, 255, 0.44);
}

.searchform__checkbox-input+.searchform__label,
.searchform__checkbox-input+.searchform__label::before,
.searchform__checkbox-input+.searchform__label::after {
    transition: all .3s;
}

.searchform__checkbox-input+.searchform__label {
    display: inline-block;
    position: relative;
    width: 36px;
    height: 20px;
    border-radius: 30px;
    cursor: pointer;
}

.searchform__checkbox-input+.searchform__label::after {
    border-radius: 50%;
    content: '';
    position: absolute;
    top: 1px;
    left: 4px;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 1px solid #fff;
}

.searchform__checkbox-input:checked+.searchform__label::after {
    left: 16px;
    background-color: #2BE080;
}

.searchform__checkbox-input+.searchform__label {
    background-color: #343434;
}

@media screen and (max-width: 1279px) {
    .searchform {
        width: 92vw;
    }

    .searchform__check {
        padding-left: 10px;
    }

    .searchform__button {
        margin-right: 18px;
    };
}


@media screen and (max-width: 640px) {
    .searchform__input {
        width: 25cqw;
    }
}

@media screen and (max-width: 500px) {
    .searchform {
        flex-direction: column;
        margin-bottom: 109px;
    }

    .searchform__check {
        border: none;
        padding: 0;
        margin: 45px 0;
    }

    .searchform__checkbox-input+.searchform__label::after {
        top: 1px;
    }

    .searchform__input {
        font-size: 14px;
    }

    .searchform__text {
        font-size: 11px;
    }
}