.about-me {
    background-color: #202020;
}

.about-me__wrapper {
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px
}

.about-me__title {
    grid-area: 1 / 1 / 2 / 3;
    padding: 110px 0 23px 0;
    margin: 0;
    font-weight: normal;
    font-size: 22px;
    line-height: 26.6px;
    letter-spacing: -0.04em;
    border-bottom: 1px solid #DADADA;
}

.about-me__subtitle {
    grid-area: 2 / 1 / 3 / 2;
    font-weight: normal;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
    margin: 66px 0 18px 0;
}

.about-me__work {
    grid-area: 3 / 1 / 4 / 2;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    margin: 0 0 26px 0;
}

.about-me__description {
    grid-area: 4 / 1 / 5 / 2;
    max-width: 600px;
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 99px 0;
}

.about-me__github {
    grid-area: 5 / 1 / 6 / 2;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    text-decoration: none;
    margin: 0 0 101px 0;
}

.about-me__github:hover {
    transition: .3s;
    color: rgb(138, 138, 138);
}

.about-me__photo {
    grid-area: 2 / 2 / 6 / 3;
    width: 270px;
    height: 327px;
    margin: 66px 0 0 auto;
    object-fit: cover;
    border-radius: 10px;
}

@media screen and (max-width: 1279px) {
    .about-me__wrapper {
        max-width: 89vw;
    }

    .about-me__title {
        padding: 90px 0 23px 0;
        font-weight: normal;
    }

    .about-me__subtitle {
        font-size: 40px;
        line-height: 40px;
        margin: 66px 0 16px 0;
    }

    .about-me__work {
        font-size: 12px;
        line-height: 18px;
        margin: 0 0 20px 0;
    }

    .about-me__description {
        max-width: 364px;
        font-size: 12px;
        line-height: 18px;
        margin: 0 0 70px 0;
    }

    .about-me__github {
        margin: 0 0 91px 0;
    }

    .about-me__photo {
        width: 255px;
        height: 307px;
    }

}

@media screen and (max-width: 700px) {

    .about-me__wrapper {
        display: flex;
        flex-direction: column;
    }

    .about-me__title {
        order: -2;
        padding: 70px 0 28px 0;
        font-size: 18px;
        line-height: 22px;
    }

    .about-me__subtitle {
        font-size: 30px;
        line-height: 36px;
        margin: 40px 0 20px 0;
    }

    .about-me__work {
        font-size: 11px;
        line-height: 16px;
    }

    .about-me__description {
        font-size: 11px;
        line-height: 16px;
        margin: 0 0 40px 0;
    }

    .about-me__github {
        margin: 0 0 70px 0;
    }

    .about-me__photo {
        margin: 60px auto 0 auto;
        order: -1;
        width: 292px;
        height: 352px;

    }

}